<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.database.mapper.CollegeClassMapper">
<!--通过专业查询班级-->
    <select id="getClassListByMajor" resultType="collegeClass">
        select * from CollegeClass where major_no = #{majorNo}
    </select>

</mapper>
