<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.database.mapper.CollegeMajorMapper">
<!--  通过学院编号获取旗下所有专业  -->
    <select id="getMajorListByCollege" resultType="collegeMajor">
        select * from CollegeMajor where college_no = #{collegeNo}
    </select>

</mapper>
